// Place all the styles related to the api/cities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.city-page{
    // padding: 10px 70px;
    padding: 70px 140px 30px;
}

.city-title{
    padding-top: 20px;
    padding-bottom: 24px;
}

.city-title span{
    font-size: 60px;
    font-weight: bolder;
}

.city-name{
    color: red;
}

// city img
.city-img-1{
    width: 654px;
    height: 430px;
    width: 100%;
    padding-right: 1.5px;
}

.city-img-2 {
    width: 480px;
    height: 214px;
    width: 100%;
}

.city-img-box{
    // width: auto;
    // height: 360px;
    // border: 1px rgb(251, 235, 207) solid;
    // background-color: rgb(251, 237, 210);

    display: flex;
    flex-direction: row;
}




.citypage-about{
    width: 500px;
    margin-top: 50px;
}

.citypage-about h2 {
    font-size: 33px;
    font-weight: bolder;
}

.citypage-about p {
    margin-top: 30px;
    font-size: 20px;
    line-height: 28px;
    color: rgb(75, 75, 75);
    width: 600px;
}

.citypage-choose{
    margin-top: 50px;
}

.citypage-choose h2{
    font-size: 27px;
    font-weight: bolder;
    margin-bottom: 20px;
}

// do

.do-part h3{
    font-size: 24px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.see-all a{
    color: black;
    font-weight: bolder;
    font-size: 16px;
}

.do-part p{
    width: 270px;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 22px;
}

.do-info{
    display: flex;
    flex-direction: column;
    width: 267px;
    height: 267px;
}

.single-spot-img {
    width: 267px;
    height: 192px;
    // padding-right: 5px;
    margin-right: 25px;
    padding-bottom: 8px;
}

.single-spot-img:hover{
    filter: brightness(110%);
}

.spots-box{
    display: flex;
    flex-direction: row;
    margin-left: 30px;
    overflow-x: scroll;
}

.spots-box ul {
    display: flex;
    flex-direction: row;
}

.spots-box-info{
    display: flex;
    flex-direction: column;
    height: 63px;
    justify-content: space-between;
}

.spot-box-name{
    font-size: 18px;
    font-weight: bolder;
    color: black;
    text-decoration: none;
}

.spot-box-name:hover{
    color: rgb(91, 91, 91);
}

.spot-box-type{
    font-size: 15px;
    color: rgb(57, 57, 57);
    width: 267px;
}

.do-part{
    display: flex;
    flex-direction: row;
    margin-top: 35px;
}

// .spots-box .spot-right-arrow{
//     display: flex;
//     // float: right;
//     // float: inline-end;
//     // position: sticky;
//     z-index: 1;

// }

.spot-right-arrow{
    margin-top: 75px;
}