// Place all the styles related to the api/reviews controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// form

// .form-rating{
//     width: 160px;
//     height: 32px;
//     display: flex;
//     flex-direction: row;
// }
.create-review-page{
    padding: 70px 140px 30px;
}

.revivew-form-left{
    border-right: 0.5px solid rgb(229, 229, 229);
    box-shadow: 2px 2px rgb(239, 239, 239);
    max-width: 600px;
    padding-right: 50px;
}

.rating-circle{
    font-size: 23px;
    color: rgb(250, 249, 249);
    text-decoration: none;
    padding: 0px;
    border: 3px solid #00aa6c;
    border-radius: 50px;
    margin: 1.5px;
}

#rating-1{
    display: none;
}

#rating-2 {
    display: none;
}

#rating-3 {
    display: none;
}

#rating-4 {
    display: none;
}

#rating-5 {
    display: none;
}

.rating-circle:hover{
    font-size: 23px;
    color: #00aa6c;
    text-decoration: none;
    padding: 0px;
    // border: 3px solid #00aa6c;
    border-radius: 50px;
    margin: 3px;
}

.create-review-welcome{
    margin-top: 20px;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px lightgray solid;
    font-size: 17px;
    font-weight: bolder;
}

.create-review-form{
    margin-top: 35px;
}

.rating-title{
    font-size: 16px;
    font-weight: bolder;
    margin-bottom: 15px;
}

.square {
    width: auto;
    height: auto;
    background-color: #00aa6c;

    margin-left: 40px;
    position: relative;
}

.square:before {
    border-bottom: 13.5px solid transparent;
    border-top: 13.5px solid transparent;
    border-right: 16px solid #00aa6c;
    content: "";
    height: 0;
    left: 0;
    position: absolute;
    left: -16px;
    width: 0;
}

.square p {
    // position: absolute;
    bottom: 6px;
    left: 13px;
    font-size: 15px;
    font-weight: bolder;
    color: white;
    padding: 6px;
}

.whole-rating{
    width: 350px;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    align-items: center;
}

.review-title{
    margin-top: 50px;
}

.review-title input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-top: 3px solid #ccc;
    // border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 35px;
}

.review-title input[type=text]:focus {
    border: 3px solid #00aa6c;
}

textarea {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    border-top: 3px solid #ccc;
    // border-radius: 4px;
    box-sizing: border-box;
    outline: none;
    margin-bottom: 33px;
}

textarea:focus {
    border: 3px solid #00aa6c;
}

input[type=date]{
    display: inline-block;
    padding: 0px;
    margin-bottom: 35px;
}

.submit-review-button{
    padding: 12px 18px 12px;
    font-size: 16px;
    font-weight: bolder;
    background-color: black;
    color: white;
    border-radius: 3px;
    border: none;
}

.submit-review-button:hover{
    background-color: rgb(53, 53, 53);
    cursor: pointer;
}

// review

.review-box {
    border: 1px solid lightgray;
    max-width: 1140px;
    background-color: white;
}

.inner-review-box {
    padding: 10px 30px;
}

.review-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px 10px 20px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 30px;
}

.review-header-title {
    font-size: 30px;
    font-weight: bolder;
}

.review-header-title span{
    margin-left: 13px;
    color: rgb(174, 174, 174);
}

.review-header-button {
    border: none;
    background-color: black;
    font-size: 20px;
    font-weight: bolder;
    border-radius: 3px;
}

.review-header-button:hover{
    background-color: rgb(61, 61, 61);
}

.review-header-button a {
    color: white;
    text-decoration: none;
}

.single-review-box {
    border-bottom: 1px solid lightgray;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.user-profile-icon {
    max-width: 72px;
    margin-bottom: 20px;
    
}

.review-user-profile-box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}

.r-bar{
    width: 100%;
}

.review-user-box {
    display: flex;
    flex-direction: row;
}

.review-title-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.single-review-title{
    font-size: 20px;
    font-weight: bolder;
    margin-bottom: 10px;
}

.review-description{
    line-height: 20px;
    margin-bottom: 10px;
}

.review-date{
    font-weight: bolder;
    margin-right: 5px;
    font-size: 16px;
}

.review-dropdown {
    position: relative;
    display: inline-block;
    cursor: pointer;
}

.review-dropdown-box {
    display: none;
    position: absolute;
    background-color: white;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    padding: 5px 10px;
    text-align: center;
    z-index: 3;
    border-radius: 10px;
    color: black;
    font-weight: bolder;
    right: -2px;
}

#hidden{
    visibility: hidden;
}

.review-dropdown:hover .review-dropdown-box {
    display: block;
}

.review-dropdown-edit {
    margin-bottom: 6px;
    border: none;
    background-color: transparent;
    padding-bottom: 4px;
}

.review-dropdown-edit a {
    border-bottom: 1px solid rgb(236, 236, 236);

    font-size: 15px;
    padding: 6px;
    font-weight: bolder;
    color: black;
    text-decoration: none;

}

.review-dropdown-edit:hover {
    background-color: rgb(243, 242, 242);
}

.review-dropdown-link {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 15px;
    font-weight: bolder;
    padding: 0px 20px 0px;
}

.review-dropdown-link:hover {
    background-color: rgb(243, 242, 242);
}
